.wid-u-info.item-title {
    color: #98a6ad;
}

#itemsCategories .list-group-item {
    padding: 0;
}

#itemsCategories span.icon {
    padding: .75rem 0;
    width: 40px !important;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    cursor: default;
}

#itemsCategories span.icon:hover {
    background: #ababab;
}

#itemsCategories .node-itemsCategories:not(.node-disabled):hover {
    background-color: #4f6272;
}

.node-tree:not(.node-disabled):hover {
    background-color: #4f6272 !important;
}

.node-categories:not(.node-disabled):hover {
    background-color: #4f6272 !important;
}

#itemsCategories span.icon.ion-chevron-right {
    height: auto;
    width: 20px !important;
    background: none;
    cursor: pointer;
}

#itemsCategories a {
    margin-left: 5px;
    width: 80%;
    padding: .75rem 5px;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.widget-required-items {
    min-height: 80px;
    padding: 5px;
}

.widget-crafting-items {
    min-height: 80px;
    padding: 5px;
    cursor: pointer;
}

.widget-crafting-items:hover {
    background-color: #3a4854;
}

#categories {
    font-size: 12px;
}

.table td {
    vertical-align: middle;
}

.dropdown-menu ul {
    padding-left: 0;
    margin-bottom: 0;
}

.dropdown-menu ul li {
    cursor: pointer;
}

.dropdown-menu ul img,
.dropdown-menu ul p {
    display: inline;
}

.cat-default .list-group-item:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

body {
    padding-bottom: 230px;
}

#navigation, #navigation.active {
    z-index: 1001;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
        line-height: 36px;
    }
    .wrapper {
        padding-top: 10px;
    }
    .table-x-scroll-mobile {
        display: block;
        overflow-x: scroll;
    }
}

#topnav .topbar-main {
    border-bottom: none;
    min-height: 60px;
    background-color: #313c4a;
}

.character-slots {
    background-image: url("https://ao2d.fra1.cdn.digitaloceanspaces.com/character-gear-slots.png");
    padding: 0 0 100%;
    background-size: cover;
    position: relative;
}

.character-slots .item {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 25%;
    height: auto;
    min-height: 22%;
}

.character-slots .item.head {top: 9%; left: 38%;}
.character-slots .item.mainhand {top: 32%; left: 11%;}
.character-slots .item.armor {top: 32%; left: 37%;}
.character-slots .item.shoes {top: 56%; left: 37%;}
.character-slots .item.bag {top: 6%; left: 6%;}
.character-slots .item.cape {top: 6%; left: auto; right: 6%}
.character-slots .item.offhand {top: 32%; left: auto; right: 11%}
.character-slots .item.mount {top: 78%; left: 38%}
.character-slots .item.potion {top: 59%; left: auto; right: 6%}
.character-slots .item.food {top: 59%; left: 6%}

.timeline-desk p {
    color: rgb(215, 218, 220);
}

.timeline-item .panel .panel-body p + p {
    margin-top: 10px !important;
}

.card-header.mmm {
    padding: 0;
    font-size: 11px;
}
.card-body.mmm {
    padding: 0;
}

@media (min-width: 992px) {
    #topnav .navigation-menu {
        text-align: center;
    }

    #topnav .navigation-menu > li > a {
        padding-top: 0;
    }

    #topnav .navigation-menu > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

    #topnav .navigation-menu > li .submenu > li.has-submenu > a:after {
        margin-right: -10px;
    }
}

#topnav .has-submenu.active a {
    background-color: transparent !important;
}

#topnav {
    position: relative;
}

.wrapper {
    padding-top: 0;
}

.modal .modal-dialog .modal-content {
    border-color: #313b50;
}

.modal-content {
    background-color: #3a4854;
}

.modal-footer {
    border-top: none;
}

.leaflet-container {
    background: transparent !important;
}

#twitch-videos-carousel {
    margin-bottom: 30px;
}

.carousel-indicators {
    bottom: -20px;
}

body {
    color: rgb(204, 207, 209);
}


.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

.spinningloader:before, .spinningloader:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #3498db;
}

.spinningloader:before {
    z-index: 100;
    animation: spin 1s infinite;
}

.spinningloader:after {
    border: 10px solid #ccc;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.select2-dropdown {
    background-color: #3a4854;
    border: 1px solid rgba(54, 64, 74, 0.08);
}

.select2-container--default .select2-search--dropdown {
    background-color: #3a4854;
    border: 1px solid rgba(54, 64, 74, 0.08);
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #6a7c8f;
    color: #eeeeee;
}

.mmm-container-300 {
    width: 300px;
    margin: 0 auto;
}

.mmm-container-728 {
    width: 728px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .sidebar {
        max-width: 332px;
    }
}

.img-shield {
    max-width: 100px;
    height: auto;
}

.spell-description {
    white-space: pre-line;
}